# Object files
*.o
*.o.*
*.ko
*.obj
*.elf



# Libraries
*.lib
*.a
*.la
*.lo



# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib



# asm files
*.s
*.S


# Binary files
*.exe
crc_test*



#log files
*.log*


# Temp files
*.*~



# Files that we don't want to ignore
!.gitignore
!crc_test*.cpp
!crc_test*.h
!crc_test*.hpp
